@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Hubballi&family=Josefin+Sans:ital@1&family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap');
  
  
* {
     margin: 0;
     padding: 0;
     font-family: 'Josefin Sans', sans-serif;

 }

 body {
     background-color: rgb(241, 187, 121);
 }